aiohappyeyeballs==2.7.1
aiohttp==3.14.1
aiosignal==1.4.0
annotated-types==0.7.0
anyio==4.14.1
attrs==26.1.0
backoff==2.2.1
bitarray==3.8.2
blinker==1.9.0
certifi==2026.6.17
cffi==2.1.1
charset-normalizer==3.4.7
ckzg==2.1.7
click==8.4.2
colorama==0.4.6
cryptography==50.0.0
cytoolz==1.1.0
eth-account==0.13.7
eth-hash==0.8.0
eth-keyfile==0.8.1
eth-keys==0.7.0
eth-rlp==2.2.0
eth-typing==6.0.0
eth-utils==6.0.0
eth_abi==5.2.0
Flask==3.1.3
frozenlist==1.8.0
gql==4.0.0
graphql-core==3.2.11
h11==0.16.0
h2==4.3.0
hexbytes==1.3.1
hpack==4.2.0
httpcore==1.0.9
httpx==0.28.1
hyperframe==6.1.0
idna==3.18
iniconfig==2.3.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
multidict==6.7.1
numpy==2.5.2
packaging==26.2
pandas==3.0.5
parsimonious==0.10.0
pluggy==1.6.0
poly_eip712_structs==0.0.1
polymarket-apis==2.3.0
propcache==0.5.2
py_builder_signing_sdk==0.0.2
py_clob_client==0.34.6
py_order_utils==0.3.2
pycparser==3.0
pycryptodome==3.23.0
pydantic==2.13.4
pydantic_core==2.46.4
Pygments==2.20.0
pytest==9.1.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
pyunormalize==17.0.0
pywin32==312
regex==2026.6.28
requests==2.34.2
rlp==4.1.0
six==1.17.0
socksio==1.0.0
toolz==1.1.0
types-requests==2.33.0.20260518
typing-inspection==0.4.2
typing_extensions==4.16.0
tzdata==2026.3
urllib3==2.7.0
web3==7.16.0
websockets==15.0.1
Werkzeug==3.1.8
yarl==1.24.2
